body {
    font-family: sans-serif;
    background-color: #DDD;
}

/* Header styling */
#header {
    width: 100%;
    text-align: center;
    background-color: #e86721;
    padding: 10px;
    margin-top: -10px;
}

#header a:link {
    color: #ffffff;
}

#header a:visited {
    color: #ffffff;
}

#header a:hover {
    color: #ffffff;
}

#header a:active {
    color: #ffffff;
}

#logout {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
}

#searchBar{
    width: 30%
}

.btn.btn-primary.loginButtons{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 86%;
}

/* Sidebar */
#sidebar {
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    width: 10%;
    float: left;
}

  #narrow-content
  {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    margin-top: 100px;
    border: 6px solid #EEE;
    overflow: hidden;
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  form
  {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  input[placeholder="password"], input[placeholder="username"]
  {
    width: 86%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #EEE !important;
  }

#wide-content {
    display: block;
    margin-right: 20px;
    float: right;
    width: 90%;
    border: 6px solid #EEE;
    background-color: #FFF;
    padding: 10px;
    padding: 10px;
}

  #clickable-heart
  {
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
  }
  
  @-moz-keyframes pulse 
  {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.3,1.3);}
    100% {transform: scale(1,1);}
  }
  
  @-webkit-keyframes pulse 
  {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.3,1.3);}
    100% {transform: scale(1,1);}
  }
  
  @keyframes pulse 
  {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.3,1.3);}
    100% {transform: scale(1,1);}
  }
