body {
    font-family: sans-serif;
    background-color: #DDD;
}

/* Header styling */
#header {
    width: 100%;
    text-align: center;
    background-color: #e86721;
    padding: 10px;
    margin-top: -10px;
}

#header a:link {
    color: #ffffff;
}

#header a:visited {
    color: #ffffff;
}

#header a:hover {
    color: #ffffff;
}

#header a:active {
    color: #ffffff;
}

#logout {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
}

/* Sidebar */
#sidebar {
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 20%;
    float: left;
}
  #content
  {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    margin-top: 100px;
    border: 6px solid #EEE;
    overflow: hidden;
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  form
  {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  input[placeholder="password"], input[placeholder="username"]
  {
    width: 86%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #EEE !important;
  }

  input, input[placeholder="username"]
  {
    width: 86%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #EEE !important;
  }
