{% extends "base.html" %}

{% block content %}
<h1>{{ viewed_user }}</h1>

<!-- this will be the search bar, to search a user or friend @Rizky -->
<div>
    <form action="search_user/" method="post">{% csrf_token %}
        <input type="text" name="searchName" placeholder="Username">
    </form>
</div>

{% for rating in ratings %}
<div>
    <a href="/users/{{ rater.id }}"><h3>{{ rating.rater }}</h3></a>
    <p>{{ rating.score }}</p>
    <p>{{ rating.review }}</p>
</div>
{% endfor %}

<form action="create_comment/" method="post">{% csrf_token %}
    <input type="text" name="review" placeholder="Review">
    <input type="number" name="score" min="0" max="10">
    <input type="submit">
</form>

{% endblock %}